    h1 {
        color: #F1B521;
        font-size: 2.2em;
    }
    
    #footer {
        background-color: #00458c;
        color: #F1B521;
        position: fixed;
        bottom: 0px;
        width: 100%;
        padding: 1em;
    }
    
    #footer a {
        color: #FFEFC9;
    }
    
    #headermenu {
        background-color: #00458c;
        padding: 0.1em 1em 0.2em;
    }
    
    .row>div>div {
        margin: 0.2em;
        padding: 0.3em;
        background-color: #FFEFC9;
        border: 1px solid black;
        border-radius: 1em;
        text-align: center;
    }
    
    svg {
        display: inline-block;
        margin: auto;
    }
    
    body {
        font-size: 2em;
        background-color: #FFF7E2;
        margin-bottom: 5em;
    }
